@import "mixins.sass"

body
  padding: 0
  margin: 0
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  background-color: #fefefe
  background-image: url("/pixels.png")
.container
  position: relative
  height: 100%

.splash-container

.splash-wrapper
  position: absolute
  top: 50%
  left: 50%

  height: 400px
  width: 700px
  margin: -202px 0 0 -352px

  line-height: 400px
  text-align: center
  font-weight: bold
  color: rgba(0,0,0,.4)

  background: rgba(255,255,255,.3)
  
  +box-shadow(1px,1px,6px,rgba(0,0,0,.2))
  
  border: 1px solid rgba(0,0,0,.1)

.splash-content
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  margin: 15px
  
  background: #fff
  +box-shadow(1px,1px,3px,rgba(0,0,0,.1))
  
  border: 1px solid rgba(0,0,0,.2)
  +border-radius(2px)

.project-container > .project-content
  position: absolute
  top: 50%
  left: 50%

  height: 400px
  width: 700px
  margin: -200px 0 0 -350px

  // text-align: center
  // font-weight: bold
  color: rgba(0,0,0,.4)
  

.project-header
  border-bottom: 1px dashed rgba(0,0,0,.4)
  &:after
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0
  span.project-header-number
    width: 200px
    font-size: 80px
    float: left
    margin-right: 15px
    font-weight: bold
    text-align: right
    line-height: 99px
  
  h1, h2
    margin: 0
    
  h1.project-header-title
    padding-top: 16px
    
  h2.project-header-artists
    font-weight: normal

.project-info
  height: 300px

.project-artwork
  
  float: left
  
  width: 199px
  
  height: 280px
  margin: 10px 0
  
  overflow: hidden
  
  border-right: 1px solid rgba(0,0,0,.2)

.project-details
  margin-left: 200px
  padding: 1em
  p
    font-family: monospace !important

@-webkit-keyframes fadeTriggerBar
  from
    +opacity(0)
  to
    +opacity(.3)

@-moz-keyframes fadeTriggerBar
  from
    +opacity(0)
  to
    +opacity(.3)

@keyframes fadeTriggerBar
  from
    +opacity(0)
  to
    +opacity(.3)

a.trigger
  
  z-index: 10
  
  position: fixed
  left: 0
  right: 0
  height: 100px
  +opacity(.3)
  +transition(opacity .3s ease-in-out)
  
  @each $vendor in "", -webkit-, -moz-
    #{$vendor}animation-name: fadeTriggerBar
    #{$vendor}animation-duration: .5s
    #{$vendor}animation-delay: 0
  
  &:before, &:after
    content: ""
    position: absolute
    left: 50%
    top: 50%
  
  &:before
    z-index: 20
  
  &:after
    z-index: 15
    width: 60px
    height: 60px
    +border-radius(30px)
    +box-shadow-inset(0,0,1px,#000)
    // border: 1px solid rgba(0,0,0,.3)
    background: #666
    margin: -30px 0 0 -30px
  
  &:hover
    +opacity(.9)
      
      
  &.trigger-up
    top: 0
    
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.05)), color-stop(90%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)))
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%)
    background: -o-linear-gradient(top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%)
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%)
    background: linear-gradient(top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d000000', endColorstr='#00000000',GradientType=0 )
    
    
    &:before
      width: 0
      height: 0
      border-left: 15px solid transparent
      border-right: 15px solid transparent
      border-bottom: 15px solid #B3B3B3
      margin: -10px 0 0 -15px
    
  &.trigger-down
    bottom: 0
    
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.1) 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1)))
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.1) 100%)
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.1) 100%)
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.1) 100%)
    background: linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=0 )
    
    &:before
      width: 0
      height: 0
      border-left: 15px solid transparent
      border-right: 15px solid transparent
      border-top: 15px solid #B3B3B3
      margin: -5px 0 0 -15px